*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: radial-gradient(
      circle at 21% 15%,
      rgba(227, 200, 130, 0.1) 0%,
      rgba(227, 200, 130, 0.1) 45%,
      transparent 45%,
      transparent 83%,
      transparent 83%,
      transparent 100%
    ),
    radial-gradient(
      circle at 84% 23%,
      rgba(227, 200, 130, 0.1) 0%,
      rgba(227, 200, 130, 0.1) 68%,
      transparent 68%,
      transparent 93%,
      transparent 93%,
      transparent 100%
    ),
    radial-gradient(
      circle at 7% 76%,
      rgba(227, 200, 130, 0.1) 0%,
      rgba(227, 200, 130, 0.1) 52%,
      transparent 52%,
      transparent 75%,
      transparent 75%,
      transparent 100%
    ),
    radial-gradient(
      circle at 59% 77%,
      rgba(227, 200, 130, 0.1) 0%,
      rgba(227, 200, 130, 0.1) 87%,
      transparent 87%,
      transparent 93%,
      transparent 93%,
      transparent 100%
    ),
    radial-gradient(
      circle at 59% 5%,
      rgba(227, 200, 130, 0.1) 0%,
      rgba(227, 200, 130, 0.1) 54%,
      transparent 54%,
      transparent 56%,
      transparent 56%,
      transparent 100%
    ),
    linear-gradient(0deg, rgb(28, 29, 210), rgb(184, 125, 158));
}

.txt {
  white-space: nowrap;
  font-size: 250px;
  animation: scrollTxt 20s linear infinite;
}

/* Première animation */

/* .container {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}

@keyframes scrollTxt {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
} */

/* Deuxième animation */

.container {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: absolute;
  transform: rotate(90deg);
}

@keyframes scrollTxt {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
