.cadre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 1àpx 0 rgba(0, 0, 0, 0.3);
  font-family: "Lato";
  background: #2c3e50;
  color: #2c3e50;
  overflow: hidden;
}

.bouton {
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 70px;
  top: 160px;
  left: 100px;
  color: #2c3e50;
  font-size: 25px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.bouton::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 200px;
  height: 70px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.bouton::after {
  content: "";
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 200px;
  height: 70px;
  background: #8e44ad;
  transform: translate(13px, 12px);
  transition: all 0.3s ease-in-out;
}

.bouton:hover {
  transform: translate(13px, 12px);
  color: #fff;
}

.bouton:hover::before {
  background: #8e44ad;
}

.bouton:hover::after {
  transform: translate(-15px, -10px);
  background: #fff;
}
